@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Exo:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&display=swap');

:root {
 
    /* COLORES*/ 
    --primary-color: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-color: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --third-color: #1F1F1F;
    --third--900: rgb(31, 31, 31, 0.9);
    --third--500: rgb(31, 31, 31, 0.5);
    --third--300: rgb(31, 31, 31, 0.3);

    /* COLOR FONDO */
    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* FUENTES */
    --base-font: 'Roboto', sans-serif;
    --alternative-font: 'Exo', display;

    /* DISPLAYS */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xmall: 1.4em;
    --font-xxmall: 1em;

    /* ESPACIADOS */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;  /*es igual a 16px*/
    color: var(--third-color);
}

ul, ol, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

img {
    width: 100%;
}

header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

p {
    font-size: 1.8em;
}

.container {
    max-width: 1200px;
    margin: auto;
}

aside {
    display: flex;
    flex-direction: column;
}

.aside__form {
    justify-content: space-between;
}

input {
    border: none;
}


/* HEADER */

header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar__menu {
    display: flex;
    gap: var(--spacing-20)
}

.navbar__img {
    max-width: 300px;
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--secondary-300);
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--dark-bg-solid);
    width: 120px;
    z-index: 3;
}

.submenu__item {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__item:hover {
    background-color: var(--secondary-300);
}

/* BANNER */

.banner {
    background-image: url(../multimedia/funkos-banner.webp);
    padding: var(--spacing-128);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.banner::before{
    content: '';
    background-color: rgba(0, 0, 0,  0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
}

.banner__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    align-items: start;
    position: relative;
    z-index: 2;
}

.banner__t {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.banner__txt {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    font-weight: 400;
}

.banner__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    background-position: start;
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 400;
    transition: background .3s ease-in-out;
}

.banner__link:hover {
    background-color: var(--secondary-900);
    color: var(--light-font-solid);
}

/* COLLECCION */

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__t {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 600;
}

.collection__txt {
    font-family: var(--base-font);
    font-size: var(--font-xlarge);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
}

.collection__link:hover{
    background-color: var(--secondary-500);
    transition: background .3s ease-in-out;
    color: var(--third-color);
}

.collection:nth-child(2) .collection__img {
    order: -1;
}

/* SLIDER */

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-16) auto;
}

.slider__ul {
    display: flex;
    gap: var(--spacing-24);
}

.slider__t {
    font-family: var(--base-font);
    font-size: var(--font-large);
}

.card-item__img img {
    animation: fade .7s;
}

.card-item__pic--back {
    display: none;
}

.card-item__img:hover .card-item__pic--back {
    display: block;
}

.card-item__img:hover .card-item__pic--front {
    display: none;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    padding: var(--spacing-16);
}

.card-item__n {
    font-size: var(--font-xmall);
    font-weight: 500;
}

.card-item__t {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__m {
    font-size: var(--font-small);
}

.card-item__cta {
    font-size: var(--font-xmall);
    font-weight: 600;
    color: var(--secondary-color)
}

.card-item__img {
    display: flex;
    position: relative;
}

.card-item__tag {
    font-size: var(--font-xmall);
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

.navbar__p {
    font-size: var(--font-xxmall);
}

/* REGISTER */

.tittle {
    padding: var(--spacing-24);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-display);
}

.tittle__sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-large);
    font-style: italic;
    font-weight: 400;
}

.form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-36);
}

.form__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
}

.form__item {
    display: flex;
    gap: var(--spacing-28);
    align-items: center;
}

.form__label {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 400;
}

.form__input {
    flex-grow: 3;
    border-bottom: 2px solid var(--primary-color);
    font-size: medium;
}

.form__button {
    display: flex;
    flex-direction: row;
    font-size: var(--font-small);
    background-color: var(--primary-900);
    color: var(--third-color);
    padding: var(--spacing-12) var(--spacing-20);
    border-radius: 5px;
    align-self: center;
}

.form__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-12)
}

.form__check {
    display: flex;
    justify-items: flex-end;
    gap: var(--spacing-8);
    font-size: small;
}

/* SHOP */

.shop__grid {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: repeat(3, auto);
}

.section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 20px;
}

.aside__shop {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-68);
}

.aside__div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
}

.aside__label {
    display: flex;
    flex-direction: column;
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}

.aside__input {
    font-size: var(--font-xmall);
    border: 2px solid var(--third-color);
    border-radius: 5px;
    width: 70%; 
}

#num {
    text-align: center;
    width: 55%;
}

.check__label {
    font-size: var(--font-xmall);
    text-transform: uppercase;
}

.aside__ul {
    display: flex;
}

.aside__list {
    display: flex;
    gap: var(--spacing-8);
    align-items: center;
}

.aside__check {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    padding-left: var(--spacing-20);
}

#select {
    width: fit-content;
    font-size: var(--font-small);
}

/* LOGIN */

.login__div {
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
    padding: var(--spacing-36);
}

.login__check {
    display: flex;
    align-items: center;
    gap: 3px;
}

/* ADMIN */

.main__admin {
    display: flex;
    flex-direction: column;
}

.search__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-12);
    padding: var(--spacing-20);
}

.search__pic {
    display: flex;
    align-items: center;
    width: var(--spacing-36);
}

.search__input {
    border: 2px solid var(--third-color);
    border-radius: 3px;
    font-size: var(--font-large);
}

.section__admin {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.section-admin__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-large);
    padding: var(--spacing-20);
    margin-right: var(--spacing-68);
}

.span__link {
    background-color: var(--primary-color);
    color: var(--light-bg-solid);
    font-family: var(--alternative-font);
    text-transform: uppercase;
    padding: 2px 8px;
    border-radius: 3px;
}

.section-admin__art {
    display: grid;
    grid-template-columns: 30px 85px 300px 200px 25px 25px;
    align-items: center;
    gap: var(--spacing-36);
    margin: 3px;
    margin-left: var(--spacing-128);
}

.section-admin__header {
    font-size: var(--font-large);
}

/* ITEM */

.section__item {
    display: flex;
    align-items: center;
}

.section-item__d {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: var(--spacing-20);
}

.item__category {
    font-size: var(--font-medium);
    font-weight: 400;
}

.item__name {
    font-family: var(--base-font);
    font-size: var(--font-jumbo);
}

.item__d {
    font-size: var(--font-large);
    font-weight: 400;
}

.item__price {
    font-size: var(--font-jumbo);
    font-family: var(--base-font);
    font-weight: 400;
}

.item__input {
    display: flex;
    gap: var(--spacing-12)
}

.item-input__n {
    font-size: var(--font-medium);
    text-align: center;
    border: 2px solid var(--third-color);
    border-radius: 3px;
}

.item-input__b {
    font-size: var(--font-large);
    background-color: var(--secondary-color);
    color: var(--light-font-solid);
    padding: 6px 10px;
}

.item-input__b:hover {
    background-color: var(--third--300);
    transition: background .3s ease-in-out;
    color: var(--third-color);
}

/* EDIT */ /* CREATE */

.section__container {
    display: flex;
    flex-direction: column;
}

.main__tittle {
    margin-top: var(--spacing-36);
    font-size: var(--font-display);
}

.form__div {
    display: flex;
    flex-direction: row;
    padding-top: var(--spacing-20);
    gap: var(--spacing-12);
}

.form-box__label {
    font-size: var(--font-large);
    font-weight: 300;
}

.div__licence {
    display: flex;
    margin-left: var(--spacing-128);
    gap: var(--spacing-12);
}

.form-box__select {
    font-size: medium;
}

.form-box__input {
    border-bottom: 2px solid var(--primary-color);
    font-size: medium;
    width: 40%;
}

#discount {
    width: 5%;
}

.div__cuotas {
    display: flex;
    margin-left: var(--spacing-36);
    gap: var(--spacing-12);
}

.form-div_2 {
    display: flex;
    gap: var(--spacing-12);
}

#img {
    border: none;
}

.form__pic {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
}

.form-pic__img {
    border-bottom: 2px solid var(--primary-color);
}

.form__div .form__button {
    margin-top: var(--spacing-12);
    margin-bottom: var(--spacing-36);
}

.pagination {
    display: flex;
    padding: var(--spacing-68);
    align-items: center;
    justify-content: center;
  }
  
  .pagination a {
    color: black;
    float: center;
    padding: 10px 18px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

/* FOOTER */

.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy {
    margin-top: var(--spacing-36);
    text-align: center;
}

/* ANIMACION */
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}