.section__container {
    display: flex;
    flex-direction: column;
}

.main__tittle {
    margin-top: var(--spacing-36);
    font-size: var(--font-display);
}

.form__div {
    display: flex;
    flex-direction: row;
    padding-top: var(--spacing-20);
    gap: var(--spacing-12);
}

.form-box__label {
    font-size: var(--font-large);
    font-weight: 300;
}

.div__licence {
    display: flex;
    margin-left: var(--spacing-128);
    gap: var(--spacing-12);
}

.form-box__select {
    font-size: medium;
}

.form-box__input {
    border-bottom: 2px solid var(--primary-color);
    font-size: medium;
    width: 40%;
    padding: 3px;
}

#discount {
    width: 5%;
}

.div__cuotas {
    display: flex;
    margin-left: var(--spacing-36);
    gap: var(--spacing-12);
}

.form-div_2 {
    display: flex;
    gap: var(--spacing-12);
}

#img {
    border: none;
}

.form__pic {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
}

.form-pic__img {
    border-bottom: 2px solid var(--primary-color);
}

.form__div .form__button {
    margin-top: var(--spacing-12);
    margin-bottom: var(--spacing-36);
}