.tittle {
    padding: var(--spacing-24);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-display);
}

.form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-36);
}

.form__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
}

.form__item {
    display: flex;
    gap: var(--spacing-28);
    align-items: center;
}

.form__label {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 400;
}

.form__input {
    flex-grow: 3;
    border-bottom: 2px solid var(--primary-color);
    font-size: medium;
}
.login__div {
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
    padding: var(--spacing-36);
}

.login__check {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: var(--font-xmall);
}